langchain
python-dotenv
langchain_community
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-google-genai
beautifulsoup4
langchain-classic
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
duckdb
pandas
duckduckgo-search
mysql-connector-python
youtube_transcript_api
unstructured
pytube
numexpr
SQLAlchemy
streamlit
torch
torchvision
langchainhub
langsmith
ddgs
validators
huggingface_hub
gradio
spaces
